.bg{
	background-color:#023F6C;
}

.textColor{
	color:#E3D4A5;
}
.links{
	color:#C90000;
}

.buttonColor{
	background-color:#C90000;
}

.custom-btn {
	background-color: #C90000;
	color: #E3D4A5;
}

.iHateThis{
	background-color: #C90000;
	color: #E3D4A5;
}

	
